@CHARSET "ISO-8859-1";

@font-face{

	font-family: quickBold;

	src: url("fonts/Quicksand-Bold.ttf");

}



@font-face{

	font-family: quickRegular;

	src: url("fonts/Quicksand-Light.ttf");

}



@font-face{

	font-family: quickMedium;

	src: url("fonts/Quicksand-Medium.ttf");

}



@font-face{

	font-family: sueEllen;

	src: url("fonts/SueEllenFrancisco.ttf");

}



@font-face{

	font-family: caveatRegular;

	src: url("fonts/CaveatBrush-Regular.ttf");

}



@font-face{

	font-family: patrickRegular;

	src: url("fonts/PatrickHand-Regular.ttf");

}



body {

	height: 100%;

	margin: 0;

	background: url(../img/bg.jpg);

	display: compact;

}.logo_header{

	font-family: quickBold;

	text-align: center;

	padding-top: 10%;

	padding-right: 50%;

	color: white;

	font-size: 100px;

	background-size: cover;

  	background-attachment: fixed;

  	margin: auto;

  	background-image: url(../img/3.jpg);

  	background-size: 100%;

  	background-repeat: no-repeat;

  	z-index: -1;



}

.logo_title{

	margin-top: -100px;

	height: 500px;

	background-image: url(../img/logo.png);

	background-repeat: no-repeat;

	background-size: 100%;

}

.active {

	background-color: #aa4d4d;

	color: white;

}

.menu_bar{

	background-color: #ce5f5f;

	height: 65px;

	width: 100%;

	display: flex;



}

.menu_bar-link ~ .menu_bar-link{

	background-color: #ce5f5f;

}

.menu_bar-link{

	font-family: quickMedium;

	flex-grow: 1;

	color: white;

	padding-left: 50px;

	padding-right: 50px;

	padding-top: 5px;

	font-size: 40px;

	text-align: center;

	text-decoration: none;

	background-color: #aa4d4d;

	

}

.menu_bar-link:hover{

	background-color: #aa4d4d;

	color: white;

	text-decoration: none;

}



.search{

	width: 200px;

	border: none;

	background-image: url(../img/searchicon.png);

	background-size: 40px;

    background-position: -5px 10px; 

    background-repeat: no-repeat;

    padding: 0px 20px 12px 40px;

    background-color: #ce5f5f;

    -webkit-transition: width 0.4s ease-in-out;

    transition: width 0.4s ease-in-out;

    font-size: 30px;

}



.search:focus {

    width: 300px;

   

}



.search::placeholder{

	color: lightgray;

	opacity: 0.5;

	font-size: 30px;



}

.search:hover{



	background-color: #ce5f5f;

}

.access_menu{

	background-color: white;

	height: 50px;

	width: 100%;

	display: flex;

	

	justify-content: flex-end;

	



}



.access_menu-link{

	font-family: quickMedium;

	

	color: #ce5f5f;

	padding-left: 50px;

	padding-right: 50px;

	padding-top: 5px;

	font-size: 30px;

	text-align: center;

	text-decoration: none;

	

	

}

.access_menu-link:hover{

	

	color: #aa4d4d;

	text-decoration: none;

}



.buttons-div{

	padding-top: 5%;

	padding-left: 40%;

	display: flex;

	flex-direction: column;

	width: 400px;

}



.buttons{
	flex-direction: column;
	min-width: 400px;
	background-color: #ce5f5f;

	font-family: quickMedium;

	font-size: 30px;

	text-align: center;

	text-decoration: none;

	color:white;

    border-radius:6px;

    border-bottom: none;

    border-right: none;

    box-shadow: 5px 9px 0px #aa4d4d;

    margin-top: 10px;

	

}



.badges-form{
	
	margin-top:10px;

	background-color: #f0efe7;

	display: none;

	flex-direction: column;

	align-items: center;
	height: 250px;

}



.form-inputs{

	background-color: #f0efe7;

	border-bottom-color: gray;

	border-top: none;

	border-right: none;

	border-left:  none;
	

	color: gray;

	height: 30px;
	font-family:quickRegular;

	width: 255px;

	font-size: 23px;

	padding-bottom: 0px;

	text-decoration: none;

	margin-top: 5px;

	text-align: center;

}

.badges-table{
	display: block ;
}

.badges-table{
	margin-top: 10px;
}

.badges-table-header{
	color: gray;
	font-family:quickRegular;
	font-size: 23px;
	
}

.footer{
	background-color: white;
	margin-top: 300px;
	clear: both;
    position: relative;
    z-index: 10;
    height: 300px;
    margin-bottom: -10px;
     border-radius: 100% 50%;
     display: flex;
     flex-direction:row;
}

.footer-img{
	display: block;
	padding-left: 180px;
	padding-top: 100px;
	height: 130px;
	width:145px;
}
.footer-paragraph{
	padding-left: 145px;
	position: absolute;
	font-size: 16px;
	padding-top: 215px;
	font-family: quickRegular;
}
.footer-div{
	position: relative;
	margin-left: 100px;
	padding-left: 50px;
	margin-top: 80px;
	display: flex;
	height: 180px;
	border-left:   solid #92afef;
	
}


.footer-table-about-header, .footer-table-social-header{
	font-family: quickBold;
	color: gray;
	font-size: 30px;
	padding-bottom: 10px;
	margin-top: -8px;
	padding-right: 30px;
	text-align: left;
}

.social-links{
	text-decoration: none;
	margin-right: 10px;
}


.footers-titles-links{
	font-family: quickRegular;
	color: #cbc876;
	text-decoration: none;

}
