

@font-face{
	font-family: quickBold;
	src: url("fonts/Quicksand-Bold.ttf");
}

@font-face{
	font-family: quickRegular;
	src: url("fonts/Quicksand-Light.ttf");
}

@font-face{
	font-family: quickMedium;
	src: url("fonts/Quicksand-Medium.ttf");
}

@font-face{
	font-family: sueEllen;
	src: url("fonts/SueEllenFrancisco.ttf");
}

@font-face{
	font-family: caveatRegular;
	src: url("fonts/CaveatBrush-Regular.ttf");
}

@font-face{
	font-family: patrickRegular;
	src: url("fonts/PatrickHand-Regular.ttf");
}



body{
	background-image: url(../img/bg.jpg);
	height: 100%;
}

.logo_header{
	font-family: quickBold;
	text-align: center;
	padding-top: 10%;
	padding-right: 50%;
	color: white;
	font-size: 100px;
	height: 600px;
	background-size: cover;
  	background-attachment: fixed;
  	margin: auto;
  	background-image: url(../img/3.jpg);
  	background-size: 100%;
  	background-repeat: no-repeat;
  	z-index: -1;

}

.logo_title{
	margin-top: -100px;
	
	height: 100%;
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	background-size: 100%;
}

.menu_bar{
	background-color: #ce5f5f;
	height: 65px;
	width: 100%;
	display: flex;


}

.menu_bar-link ~ .menu_bar-link{
	background-color: #ce5f5f;
}
.menu_bar-link{
	font-family: quickMedium;
	flex-grow: 1;
	color: white;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 5px;
	font-size: 40px;
	text-align: center;
	text-decoration: none;
	background-color: #aa4d4d;
	
}
.menu_bar-link:hover{
	background-color: #aa4d4d;
	color: white;
	text-decoration: none;
}

.menu_bar-link:focus{
	background-color: #aa4d4d;
	color: white;
	text-decoration: none;
}


.search{
	width: 50px;
	border: none;
	background-image: url(../img/searchicon.png);
	background-size: 40px;
    background-position: -5px 10px; 
    background-repeat: no-repeat;
    padding: 0px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    font-size: 30px;
}

.search:focus {
    width: 300px;
    background-color: #aa4d4d;
}
.search::placeholder{
	color: lightgray;
	opacity: 0.5;
	font-size: 30px;


}
.menu_bar-link:hover{
	background-color: #aa4d4d;
}

.login-alert{
	background-color: #f1ed8c;
    color: white;
    font-style: bold;
    width: 600px;
    display:show;
    height: 90px;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
    position: absolute;
    top: 50%;
    left: 32%;
     box-shadow: 0px 10px 0px #d8d47c;
    border-radius:6px;
 
    bottom: 50px;
}

.close{
	margin-right: 10px;
}

.login_section{
	margin-top: 150px;
	height: 400px;
	width: 700px;
	margin-left: 30%;
	background-color: #f0efe7;
	border-radius:6px;
	box-shadow: 10px 10px 10px 0px #c6c5be;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 350px;

}

.login_section-table-header{
	background-color: #f1ed8c;
    color: white;
    width: 700px;
    height: 40px;

    text-align: center;
    
     box-shadow: 0px 10px 0px #d8d47c;
    border-radius:6px;
 
    bottom: 50px;


}


.login_section-table{
	background-color: #f1ed8c;
    color: white;
    width: 700px;
    height: 40px;
    font-size: 35px;
    text-align: center;
    font-family: quickMedium; 
     box-shadow: 0px 10px 0px #d8d47c;
    border-radius:6px;
 
    bottom: 50px;


}
.login_section-form{
	margin-top: 50px;
	
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login_section-form-labels{
	font-family: quickRegular;
	font-size: 25px;
	color: gray;
	margin-top: 10px;


}
.login_section-form-inputs{
	background-color: #f0efe7;
	border-bottom-color: gray;
	border-top: none;
	border-right: none;
	border-left:  none;
	color: gray;
	height: 30px;
	width: 255px;
	font-size: 23px;
	padding-bottom: 0px;
	text-decoration: none;
	margin-top: 5px;
	text-align: center;
}

.login_section-form-inputs:focus{
	outline:none;
	text-align: center;

}

.login_section-form-inputs::placeholder{
	color: lightgray;
	font-family: quickRegular;
	font-style: italic;
	text-align: center;
	text-decoration: none;
}

.login_section-form-option{
	-webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   border:none;
   text-align: center;
   outline:none;

   background-color: #f0efe7;
   margin-top: 6px;
   color: gray;
   font-size: 23px;

}



.login_section-form-btns{
	margin-top:10px;
}

.games_section{
	margin-top: 100px;
	height: 400px;
	width: 500px;
	margin-left: 10%;
	background-color: #f0efe7;
	border-radius:6px;
	padding: 2px;
	box-shadow: 10px 10px 10px 0px #c6c5be;
	background-image: url(../img/think.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 350px;
	position: absolute;
	
}
.games_section-table{
	border-collapse: collapse;
    width: 100%;
    border: none;
	
}

.games_section-table-header {
	background-color: #f1ed8c;
    color: white;
    font-size: 25px;
    text-align: center;
    font-family: quickMedium; 
    border-radius:6px;
    border-radius:6px;
    box-shadow: 5px 10px 0px #d8d47c;
    bottom: 50px;
}

.games_section-table-header ~ .games_section-table-header{
		background-color: #92afef;
		box-shadow: 0px 10px 0px #7992c9;
}
.games_section-table-header ~ .games_section-table-header:hover{
		background-color: #7992c9;
}
.games_section-table-header:hover{
	background-color: #d8d47c;
}

.games_section-table-col, .games_section-table-header {
   
    padding: 8px;
}

.collaborators_section{
	margin-top: 650px;
	height: 600px;
	width: 950px;
	margin-left: 22%;
	background-color: #f0efe7;
	border-radius:6px;
	padding: 2px;
	box-shadow: 10px 10px 10px 0px #c6c5be;
	/*background-image: url(../img/think.png);*/
	background-repeat: no-repeat;
	background-position: center;
	background-size: 350px;
}

.collaborators_section-table{
	border-collapse: collapse;
    width: 100%;
    border: none;
	
}

.collaborators_section-table-header {
	background-color: #ce5f5f;
    color: white;
    font-size: 25px;
    text-align: center;
    font-family: quickMedium; 
    border-radius:6px;
    border-radius:6px;
    box-shadow: 0px 10px 0px #aa4d4d;
    bottom: 50px;
}
.collaborators_section-table-header:hover{
	background-color: #aa4d4d;
}

.collaborators_section-table-col, .collaborators_section-table-header {
   
    padding: 8px;
}


#slideshow, #slideshow-bene { 
    margin-top: 10px; 
    margin-right: 4px;
    position: relative; 
    width: 80%;
    height: 80%;

}


#slideshow > div { 
    position: absolute; 
    top: 20px; 
    left: 20px; 
    right: 0px; 
    bottom: 10px; 
    
}

#slideshow-bene > div {
	position: absolute; 
    top: 80px;
    left: 500px; 
    right: 0px; 
    bottom: 10px;
}

.slider-imgs{
	width:400px;
	border-radius:6px;
	border: 10px solid white;
	outline: 1px solid gray;
    outline-offset: -10px;

	box-shadow: 10px 10px 0px lightgray; 

}
.paper{
	width: 100px;
	position: relative;
	margin-top: 190px;
	margin-left: 100px;
}
.paper-2{
	width: 100px;
	position: relative;
	margin-top: -17px;
	margin-left: 0px;
}
.paper-text{
	position: absolute;
	font-size: 20px;
	color: gray;
	width: 280px;
	font-family: patrickRegular;
	left: 60%;
	top: 50px;
	text-align: center;
}
.paper-text-2{
	position: absolute;
	font-size: 20px;
	font-style: bold;
	color: gray;
	width: 280px;
	font-family: patrickRegular;
	left: 40%;
	top: 40px;
	text-align: center;
}

.arrow{
	position: absolute;
	margin-left: 350px;
	height: 135px;
	width: 135px;

	background-image: url(../img/arrow.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100px;
	
}


.footer{
	background-color: white;
	margin-top: 300px;
	clear: both;
    position: relative;
    z-index: 10;
    height: 300px;
    margin-bottom: -10px;
     border-radius: 100% 50%;
     display: flex;
     flex-direction:row;
}

.footer-img{
	display: block;
	padding-left: 180px;
	padding-top: 100px;
	height: 200px;
	width:290px;
}
.footer-paragraph{
	padding-left: 145px;
	position: absolute;
	font-size: 16px;
	padding-top: 215px;
	font-family: quickRegular;
}
.footer-div{
	position: relative;
	margin-left: 100px;
	padding-left: 50px;
	margin-top: 80px;
	display: flex;
	height: 180px;
	border-left:   solid #92afef;
	
}


.footer-table-about-header, .footer-table-social-header{
	font-family: quickBold;
	color: gray;
	font-size: 30px;
	padding-bottom: 10px;
	margin-top: -8px;
	padding-right: 30px;
	text-align: left;
}

.social-links{
	text-decoration: none;
	margin-right: 10px;
}


.footers-titles-links{
	font-family: quickRegular;
	color: #cbc876;
	text-decoration: none;

}